.answer {
    display: flex;
    flex-direction: column;
}

div h1 {
    background-color: cornsilk;

    font-size: 25px;
    margin-left: 2%;
    padding: 5px;

}

div h3 {
    background-color: rgb(245, 216, 100);

    font-size: 20px;
    margin-left: 20%;
    color: black;

    padding: 5px;

}